* {
    text-align: center;
}

body {
    background-color: rgb(122, 98, 25);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(37, 37, 37);
}

h1 {
    color: #E8B92D;
}

.jumbotron {
    /* background-color: #f5f5f5; */
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
}

.col-md-4 {
    margin: 0 auto;
}

.userInputDiv {
    margin: 0 auto;
    color: white;
}

img {
    width: 10%;
    height: 10%;
}

span {
    padding-left: 15px;
}

.row {
    margin-top: 10px;
}

textarea {
    border-radius: 20px;
}

.list-group-item {
    background-color: rgba(232, 185, 45, 0.9);
}